<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrackEntities" connectionString="metadata=res://*/Entities.TrackModel.csdl|res://*/Entities.TrackModel.ssdl|res://*/Entities.TrackModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\michael\Documents\Visual Studio 2010\Projects\TrackViewer\TrackViewer\App_Data\TrackStore.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>