obj
bin
TempBuildDir
PrecompiledWeb
Debug
Test
Release
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.ReSharper.user
*.rptproj.user
*.db
*.dmp
*.log
*.7z
!.gitignore
*.vs10x
*.sqlsuo
*.docstates
